* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background: #000000;
}

#panel {
  height: 80%;
  width: 80%;
  background: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #aaaaaa22;
  transform: translate(-50%, -50%);
}

#headsite {
  height: 60px;
  width: 100%;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#headsite span {
  display: flex;
  gap: 5px;
  color: #ffffff;
  align-items: center;
  user-select: none;
}
#headsite span button {
  padding: 3px 10px;
  color: #000000;
}

#pBubble {
  height: calc(100% - 60px);
  width: 100%;
  background: #000000;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  padding: 10px 5px;
  justify-content: center;
  overflow: hidden;
}

#pBubble h1 {
  color: rgb(129, 11, 11);
}

.bubble {
  background: #111;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.bubble:hover {
  background: #777;
  cursor: pointer;
  box-shadow: 0 0 1rem #aaa;
}
